
@{
    ViewData["Title"] = "ColaboradorIndividual";
}

<h1>Colaborador Individual</h1>


<h2>Selecciona la competencia que desee:</h2>





@Html.ActionLink("Resolución de problemas", "Rproblemas", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Aprendizaje Continuo", "Acontinuo", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Iniciativa", "Iniciativa", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Adaptabilidad", "Adaptabilidad", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Orientación a Resultados", "Oresultados", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Orientación a Valores", "Ovalores", "Usuarios", null, new { @class = "btn btn-primary" })
