
@{
    ViewData["Title"] = "Lideres";
}

<h1>Líderes</h1>


<h2>Selecciona la competencia que desee:</h2>





@Html.ActionLink("Visión de Negocio", "Vnegocios", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Influencia", "Influencia", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Liderazgo Equipo Inclusivo", "LEinclusivo", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Ejecución", "Ejecucion", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Titularidad (Ownership)", "Titularidad", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Integridad y Coraje", "Integridad", "Usuarios", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Enfoque Estratégico", "Eestrategico", "Usuarios", null, new { @class = "btn btn-primary" })
